<h2 class="main-title">管理者ログイン</h2>

<div class="sign">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="table-box">
    <tr>
      <th class="text-box"><%= f.label :メールアドレス, class: 'text-title' %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'sign' %></td>
    </tr>
    <tr>
      <th class="text-box"><%= f.label :パスワード, class: 'text-title' %></th>
      <td><%= f.password_field :password, autocomplete: "current-password", class: 'sign' %></td>
    </tr>
  </table>
  <%= f.submit "ログイン", class: 'sign-up-submit btn btn-warning' %>
  <% end %>
</div>
