<% if menu.comments.present? %>

  <% menu.comments.each do |comment| %>
    <div class="comment-box">
      <%= comment.comment %>
      <div class="comment-profile">
        <%= link_to user_path(comment.user) do %>
        <% if comment.user.profile_image.attached? %>
         <%= image_tag comment.user.profile_image, size: "50x50", class: "profile_image" %>
        <% else %>
         <%= image_tag 'no-image', size: "50x50", class: "profile_image" %>
        <% end %>
      <% end %>
        <%= comment.user.name %>
        <div class="comment-day"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
        <% if comment.user == current_user %>
          <div class="comment-delete">
            <%= link_to "削除", menu_comment_path(comment.menu, comment), method: :delete, data: {confirm: "本当に削除しますか？"},remote:true %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>コメントはまだありません</p>
<% end %>