<%= render 'public/menus/genre_search', genres: @genres %>
<%= link_to "新規投稿", new_menu_path %>
<div class="menu-index">
  <% @menus.each do |menus| %>
    <div class="menu-box">
      <%= link_to menu_path(menus) do %>
        <% if menus.image.attached? %>
          <%= image_tag menus.image, size: "250x250", class: "menu-image" %><br>
        <% else %>
          <%= image_tag 'no-image', size: "250x250", class: "menu-image" %><br>
        <% end %>
      <% end %>
      <div class="menu-index-name"><h5><%= menus.name %></h5></div>
      <div class="menu-index-explanation"><%= menus.explanation.truncate(35) %></div>
    </div>
  <% end %>
</div>
