<h3>メニュー新規投稿</h3>
<%= form_with model: @menu, url: menus_path do |f| %>
  <div class="menu-top">
    <div class="menu-new">
        <%= f.file_field :image, placeholder: "メニュー画像", accept: "image/*" %>
      <div class="menu-genre">
        <%= f.collection_select :genre_id, Genre.all, :id, :name%>
      </div>
      <div class="col-7"><%= f.text_field :name, placeholder: 'メニュー名', class: 'form-control' %></div>
      <div class="col-10"><%= f.text_area :explanation, placeholder: 'メニュー説明', class: 'form-control' %></div>
      <%= f.submit "投稿保存", class: 'btn btn-primary' %>
    </div>
    <div class="menu-new">
    <p>材料</p>
     <div class="menu-materials">
       <%= f.fields_for :materials do |materials_fields| %>
         <%= render "material_fields", f: materials_fields %>
       <% end %>
     </div>

     <div id="detail-association-insertion-materials"></div>

     <div>
         <%= link_to_add_association "+材料を追加", f, :materials,
        class: "btn btn-secondary btn-block",
        data: {
        association_insertion_node: '#detail-association-insertion-materials',
        association_insertion_method: 'before'
        }%>
     </div>
    </div>
  </div>
     <p>作り方</p>
     <div>
       <div class="menu-cooks">
        <%= f.fields_for :cooks do |cooks_fields| %>
          <%= render "cook_fields", f: cooks_fields %>
        <% end %>
       </div>

       <div id="detail-association-insertion-point"></div>

       <div>
         <%= link_to_add_association "+作り方を追加", f, :cooks,
        class: "btn btn-secondary btn-block",
        data: {
        association_insertion_node: '#detail-association-insertion-point',
        association_insertion_method: 'before'
        }%>
       </div>
     </div>
<% end %>