<h3>新規投稿</h3>
     <%= form_with model: @menu, url: menus_path do |f| %>
 <table>
        <tr>
            <th>メニュー画像</th>
            <th>メニュー名</th>
            <th>ジャンル</th>
        </tr>
        <tr>
            <td><%= f.file_field :image, placeholder: "メニュー画像", accept: "image/*" %></td>
            <td><%= f.text_field :name %></td>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name %></td>
        </tr>
        <tr>
            <td>メニュー説明</td>
            <td><%= f.text_area :explanation %></td>
        </tr>
        <tr>
            <td><%= f.submit "投稿保存" %></td>
        </tr>
 </table>
 <table>
     <p>材料</p>
     <tr>
         <th><%= link_to "材料の追加", materials_path %></th>
         <td></td>
     </tr>
 </table>
     <% end %>



