<h3>メニュー詳細</h3>

<table>
 <tr>
  メニューの制作者
 </tr>
 <tr>
  <td>
   <%= link_to user_path(@menu.user) do %>
    <% if @menu.user.profile_image.attached? %>
     <%= image_tag @menu.user.profile_image, size: "150x150" %>
    <% else %>
     <%= image_tag 'no-image', size: "150x150" %>
    <% end %>
   <% end %>
  </td>
  <td><%= @menu.user.name %></td>
 </tr>
</table>

<div>
  <% if @menu.image.attached? %>
   <%= image_tag @menu.image, size: "150x150" %>
  <% else %>
   <%= image_tag 'no-image', size: "150x150" %>
  <% end %>
</div>
<div>
  <%= @menu.name %>
  <%= @menu.genre.name %>
  <%= @menu.explanation %>
  <div class="favorites_buttons_<%= @menu.id %>">
   <%= render 'public/favorites/favorite', menu: @menu %>
  </div>

  <div class="checks_buttons_<%= @menu.id %>">
   <%= render 'public/checks/check', menu: @menu %>
  </div>
  <% if @menu.user_id == current_user.id %>
   <%= link_to "編集", edit_menu_path(@menu) %>
   <%= link_to "削除する", menu_path(@menu), method: :delete %>
  <% end %>
</div>
<p>材料</p>
<div>
  <% @menu.materials.each do |materials| %>
   <%= materials.name %>
   <%= materials.weigh %>
  <% end %>
</div>
<table>
 <p>作り方</p>
 <tr>
  <th>順番</th>
 </tr>
 <% @menu.cooks.each do |cooks| %>
 <tr>
  <td><%= cooks.cooks_count %></td>
  <td>
   <% if cooks.cook_image.attached? %>
    <%= image_tag cooks.cook_image, size: "150x150" %>
   <% else %>
    <%= image_tag 'no-image', size: "150x150" %>
   <% end %>
  </td>
  <td><%= cooks.text %><br></td>
 </tr>
 <% end %>
</table>
<div id="comment_area">
 <%= render 'public/comments/menu_comments', menu: @menu %>
</div>
<div class="new-comment">
 <%= render 'public/comments/form', menu: @menu, comment: @comment %>
</div>
