<h3 class="main-title">会員一覧</h3>
  <table class="admin-users">
    <thead>
      <tr>
        <th class="user-header">プロフィール画像</th>
        <th class="user-header">名前</th>
        <th class="user-header">メールアドレス</th>
        <th class="user-header">ステータス</th>
      </tr>
    </thead>
    <% @users.each do |users| %>
    <tbody class="user-table">
      <tr class="user-table">
        <td class="user-image">
          <%= link_to admin_user_path(users) do %>
            <% if users.profile_image.attached? %>
             <%= image_tag users.profile_image, size: "100x100", class: "profile_image" %>
            <% else%>
             <%= image_tag 'no-image', size: "100x100", class: "profile_image" %>
            <% end %>
        </td>
        <td class="user-name"><%= users.name %></td>
        <td class="user-email"><%= users.email %></td>
        <td class="user-stetus">
          <% if users.is_deleted == false %>
           有効
          <% else %>
           退会
          <% end %>
        </td>
          <% end %>
      </tr>
    </tbody>
    <% end %>
  </table>