<h2>作った一覧</h2>
<div class="menu-index">
  <% @checks_menu.each do |menus| %>
    <div class="menu-box">
      <%= link_to menu_path(menus) do %>
        <% if menus.image.attached? %>
          <%= image_tag menus.image, size: "250x250", class: "menu-image" %><br>
        <% else %>
          <%= image_tag 'no-image.jpg', size: "250x250", class: "menu-image" %><br>
        <% end %>
      <% end %>
      <div class="menu-index-name"><h5><%= menus.name %></h5></div>
      <div class="menu-index-explanation"><%= menus.explanation %></div>
    </div>
  <% end %>
</div>