<h2>いいね一覧</h2>
<div class="menu-index">
  <% @favorites_menu.each do |favorites| %>
    <div class="menu-box">
      <%= link_to menu_path(favorites) do %>
        <% if favorites.image.attached? %>
          <%= image_tag favorites.image, size: "250x250", class: "menu-image" %><br>
        <% else %>
          <%= image_tag 'no-image', size: "250x250", class: "menu-image" %><br>
        <% end %>
      <% end %>
      <div class="menu-index-name"><h5><%= favorites.name %></h5></div>
      <div class="menu-index-explanation"><%= favorites.explanation %></div>
    </div>
  <% end %>
</div>